#menuhorizontal {
    width: 400px;
    border: 3px solid grey;
}

a {
    padding: 0px 25px 0px;
    text-decoration: none;
    color: black;
    background: #f4f4f4;
}

#menuhorizontal a:hover, #menuhorizontal a:active {
    background: #58FA58;
}

#menuhorizontal a:visited {
    color: black;
}