body {
    color: red;
    background-color: silver;
    font-family: Arial;
}

h1 {
    color: white;
    word-spacing: 30px;
    font-family: "Comic Sans MS";
}

h3 {
    font-style: italic;
    text-transform: lowercase;
    font-family: Tahoma;
}

p {
    text-align: center;
    width: 250px;
    background-color: olive;
}

ul {
    width: 200px;
    background-color: purple;
}

ul li a {
    text-decoration: none;
    color: white;
}