#menuvertical {
    width: 200px;
    border: 3px solid grey;
}

#menuvertical a {
    padding: 0px 25px 0px;
    text-decoration: none;
    display: block;
    color: black;
    background: #f4f4f4;
}

#menuvertical a:hover, #menuvertical a:active {
    background: #58FA58;
}

#menuvertical a:visited {
    color: black;
}